#tabs {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: var(--hover-color);
    overflow-x: scroll;
}

#buttons {
    display: flex;
    padding: 3px 3px 3px 0;
    position: sticky;
    left: 0;
    z-index: 3;
    background: var(--hover-color);
    margin-right: 4px;
}
#buttons > div {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-left: 3px;
    border-radius: var(--border-radius);
    transition: var(--transition);
    background-color: var(--bg);
    font-size: 24px;
}
#buttons > div:hover {
    background-color: var(--hover-color);
    box-shadow: var(--shadow);
}
#back::before {
    content: "\e915";
}
#forward::before {
    content: "\e92a";
}
#stop::before {
    content: "\e906";
}
#reload::before {
    content: "\e927";
}
#browser::before {
    content: "\e903";
}
#add_history::before {
    content: "\e900";
}

.tab {
    display: flex;
    height: 30px;
    align-items: center;
    background-color: var(--hover-color);
    flex: 1;
    max-width: 200px;
    justify-content: space-between;
    transition: var(--transition);
    position: relative;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.tab_focus {
    background-color: var(--bg) !important;
}
.tab_focus::before {
    position: absolute;
    left: -8px;
    bottom: 0;
    z-index: 2;
    width: 8px;
    height: 8px;
    content: "";
    background: radial-gradient(circle farthest-corner at 0% 0%, #0000 70%, var(--bg) 70%);
}
.tab_focus::after {
    position: absolute;
    right: -8px;
    bottom: 0;
    z-index: 2;
    width: 8px;
    height: 8px;
    content: "";
    background: radial-gradient(circle farthest-corner at 100% 0%, #0000 70%, var(--bg) 70%);
}

.tab > img {
    height: 20px;
    margin-left: 5px;
}
.loading {
    animation: loading 0.8s linear 0s infinite;
}
@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.tab > span {
    cursor: default;
    padding-left: 4px;
    overflow: hidden;
    white-space: nowrap;
    flex-grow: 1;
}
.tab > button {
    min-width: 20px;
    height: 20px;
    background: none;
    border: none;
    border-radius: 4px;
    transition: var(--transition);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px;
    padding: 0;
    margin: 5px;
}

.tab > button::before {
    content: "\e906";
}

.tab > button:hover {
    background-color: var(--hover-color);
    box-shadow: var(--shadow);
}
