::-webkit-scrollbar {
    display: none;
}
html {
    cursor: none;
}
body {
    cursor: default;
    user-select: none;
}
html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

/* 桌面切换 */
#windows_bar {
    background-color: var(--bar-bg);
    width: 200px;
    position: fixed;
    z-index: 999;
    transform: translateX(-100%);
    backdrop-filter: var(--blur);
    transition: var(--transition);
    overflow: scroll;
    height: 100%;
}
.window {
    transition: var(--transition);
    padding: 8px;
}
.window:hover {
    background-color: var(--hover-color);
    transition: var(--transition);
}
.window_icon {
    height: 2rem;
    vertical-align: middle;
}
.window_title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 0 0 8px;
}
#window_photo {
    overflow: hidden;
    border-radius: 8px;
}
.window_thumbnail {
    width: 100%;
    display: block;
}

/* 工具 */
#tool_bar {
    width: 60px;
    background: var(--bar-bg);
    position: fixed;
    z-index: 99;
    left: 10px;
    top: 100px;
    backdrop-filter: var(--blur);
    border-radius: 10px;
    overflow: hidden;
    transition: var(--transition);
    box-shadow: var(--shadow);
}
#tool_bar > div {
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    transition: var(--transition);
}
#tool_bar > div:hover {
    background-color: var(--hover-color);
    transition: var(--transition);
}
#tool_close {
    background-image: url("../assets/tool_close.svg");
}
#tool_ocr {
    background-image: url("../assets/tool_ocr.svg");
}
#tool_QR {
    background-image: url("../assets/tool_QR.svg");
}
#tool_draw {
    background-image: url("../assets/tool_draw.svg");
}
#tool_open {
    background-image: url("../assets/tool_open.svg");
}
#tool_ding {
    background-image: url("../assets/tool_ding.svg");
}
#tool_copy {
    background-image: url("../assets/tool_copy.svg");
}
#tool_save {
    background-image: url("../assets/tool_save.svg");
}

/* 画 */
#draw_bar {
    left: 80px;
    top: 100px;
    width: 60px;
    background: #fff9;
    position: fixed;
    z-index: 98;
    backdrop-filter: var(--blur);
    border-radius: 10px;
    overflow: scroll;
    transition: var(--transition);
    height: 0px;
    box-shadow: var(--shadow);
    display: flex;
}
#draw_bar > div {
    width: 60px;
}
#draw_main > div,
#draw_items > div {
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    transition: var(--transition);
}
#draw_main > div:hover,
#draw_items > div:hover {
    background-color: var(--hover-color);
    transition: var(--transition);
}
#draw_items {
    transition: var(--transition);
    overflow: scroll;
}

#main_photo,
#clip_photo,
#draw_photo {
    position: absolute;
}
#main_photo {
    z-index: 8;
}
#clip_photo {
    z-index: 10;
    cursor: crosshair;
}
#draw_photo_top {
    position: absolute;
}
video {
    position: absolute;
    left: 0;
    top: 0;
}

#mouse_bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 100;
    padding: 8px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    backdrop-filter: var(--blur);
    background: var(--bar-bg);
}
#point_color {
    width: var(--copy_size);
    height: var(--copy_size);
    overflow: hidden;
    transition: var(--transition);
}
#point_color span {
    width: var(--copy_i_size);
    height: var(--copy_i_size);
    float: left;
}
#point_color_t_c {
    outline: 2px #000 solid;
    position: relative;
    z-index: 2;
}
#point_color_t_b {
    box-shadow: #0005 0 0 0 0.5px inset;
}
#clip_xy {
    font-family: "Courier New", Courier, monospace;
    height: 20px;
}
#clip_color {
    font-family: "Courier New", Courier, monospace;
    transition: var(--transition);
    overflow: hidden;
}
#clip_color > div {
    height: 20px;
}
#clip_copy {
    font-family: "Courier New", Courier, monospace;
    width: 100%;
    height: 0;
    transition: var(--transition);
    overflow: hidden;
}
#clip_copy > div {
    margin: 8px 0 0 0;
    height: 20px;
    transition: var(--transition);
    text-align: center;
}
#clip_copy > div:hover {
    position: relative;
    z-index: 2;
    transform: scale(1.4);
}
#clip_wh {
    position: absolute;
    z-index: 99;
    backdrop-filter: var(--blur);
    background: var(--bar-bg);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    display: flex;
}
#clip_wh > div:focus {
    outline: none;
}
#clip_wh > div {
    margin: 8px;
}
#x0y0,
#x1y1 {
    display: none;
}

#waiting {
    position: fixed;
    display: none;
    z-index: 11;
}

#app_path {
    background-color: var(--bar-bg);
    border-radius: var(--border-radius);
    backdrop-filter: var(--blur);
    box-shadow: var(--shadow);
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: var(--transition);
    overflow: hidden;
    width: 0;
}
#app_path > div {
    display: flex;
}
#app_path > div > input {
    outline: none;
    border: none;
    margin: 8px;
    height: 20px;
    padding: 0;
    background-color: #0000;
    width: 200px;
}
#app_path > div > button {
    outline: none;
    background-color: var(--bg);
    border: none;
    transition: var(--transition);
    border-radius: var(--border-radius);
    width: 36px;
    height: 36px;
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: #0000;
}
#open_file {
    background-image: url("../assets/open_file.svg");
}
#open {
    background-image: url("../assets/open_open.svg");
}
#app_path > button:hover {
    background-color: var(--hover-color);
}

@media (prefers-color-scheme: dark) {
}
