::-webkit-scrollbar {
    display: none;
}
html {
    cursor: none;
}
body {
    cursor: default;
    user-select: none;
}
html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

/* 桌面切换 */
#windows_bar {
    background-color: var(--bar-bg);
    width: 250px;
    position: fixed;
    z-index: 100;
    backdrop-filter: var(--blur);
    transition: var(--transition);
    overflow: scroll;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
    transform: translateX(-100%);
}
#windows_bar > div {
    margin-bottom: 16px;
}
.window {
    transition: var(--transition);
    padding: 8px;
}
.window:hover {
    background-color: var(--hover-color);
    transition: var(--transition);
}
.window_icon {
    height: 2rem;
    vertical-align: middle;
}
.window_title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 0 0 8px;
}
#window_photo {
    overflow: hidden;
    border-radius: 8px;
}
.window_thumbnail {
    width: 100%;
    display: block;
}

#save_type {
    display: none;
    grid-template-columns: auto 36px;
    grid-template-rows: auto 36px;
}
#save_type > span {
    grid-area: 1 / 1 / 2 / 3;
}
#save_type > select {
    font-size: 1rem;
    border: none;
    background-color: #0000;
    width: 100%;
}
#save_type > button {
    border: none;
    background-color: #0000;
    transition: var(--transition);
    border-radius: var(--border-radius);
    background-image: url(../assets/tool_save.svg);
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
}
#save_type > button:hover {
    background-color: var(--hover-color);
}

#service_download {
    cursor: pointer;
}

/* 工具 */
#tool_bar {
    width: 60px;
    background: var(--bar-bg);
    position: fixed;
    z-index: 99;
    left: 10px;
    top: 100px;
    backdrop-filter: var(--blur);
    border-radius: 10px;
    overflow: hidden;
    transition: var(--transition);
    box-shadow: var(--shadow);
}
#tool_bar > div {
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    transition: var(--transition);
}
#tool_bar > div:hover {
    background-color: var(--hover-color);
    transition: var(--transition);
}
#tool_close {
    background-image: url(../assets/tool_close.svg);
}
#tool_ocr {
    background-image: url(../assets/tool_ocr.svg);
}
#tool_QR {
    background-image: url(../assets/tool_QR.svg);
}
#tool_draw {
    background-image: url(../assets/tool_draw.svg);
}
#tool_open {
    background-image: url(../assets/tool_open.svg);
}
#tool_ding {
    background-image: url(../assets/tool_ding.svg);
}
#tool_copy {
    background-image: url(../assets/tool_copy.svg);
}
#tool_save {
    background-image: url(../assets/tool_save.svg);
}

/* 画 */
#draw_bar {
    left: 80px;
    top: 100px;
    width: 60px;
    background: #fff9;
    position: fixed;
    z-index: 98;
    backdrop-filter: var(--blur);
    border-radius: 10px;
    overflow: scroll;
    transition: var(--transition);
    height: 0px;
    box-shadow: var(--shadow);
    display: flex;
}
#draw_bar > div {
    width: 60px;
}
#draw_main > div,
.draw_items > div,
.draw_items > lock-b {
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    transition: var(--transition);
}
#draw_main > div:hover,
.draw_items > div:hover {
    background-color: var(--hover-color);
    transition: var(--transition);
}
.draw_items {
    transition: var(--transition);
    overflow: scroll;
}

#main_photo,
#clip_photo,
#draw_photo {
    position: absolute;
}
#main_photo {
    z-index: 8;
}
#clip_photo {
    z-index: 10;
    cursor: crosshair;
}
#draw_photo_top {
    position: absolute;
}
video {
    position: absolute;
    left: 0;
    top: 0;
}

#mouse_bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 100;
    padding: 2px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    backdrop-filter: var(--blur);
    background: var(--bar-bg);
    overflow: hidden;
    pointer-events: none;
}
#point_color {
    width: var(--color-size);
    height: var(--color-size);
    overflow: hidden;
    transition: var(--transition);
    display: grid;
    grid-template-columns: repeat(var(--color-i-i), var(--color-i-size));
    grid-template-rows: repeat(var(--color-i-i), var(--color-i-size));
    border-radius: 6px;
}
#point_color_t_c {
    outline: 2px #000 solid;
    position: relative;
    z-index: 2;
}
#point_color_t_b {
    box-shadow: #0005 0 0 0 0.5px inset;
}
#clip_xy {
    font-family: var(--monospace);
    height: 24px;
}
#clip_color {
    font-family: var(--monospace);
    transition: var(--transition);
    overflow: hidden;
    height: 28px;
}
#clip_color > div {
    padding: 4px;
    border-radius: 6px;
    height: 20px;
}
#clip_copy {
    font-family: var(--monospace);
    width: 100%;
    height: 0;
    transition: var(--transition);
    overflow: hidden;
    border-radius: 6px;
}
#clip_copy > div > div:nth-child(1),
#clip_copy > div > div:not(:nth-child(1)) > div {
    height: 32px;
    line-height: 32px;
    transition: var(--transition);
    text-align: center;
    border-radius: 6px;
}
#clip_copy > div > div:not(:nth-child(1)) {
    border-radius: 6px;
}
#clip_copy > div > div:nth-child(1):hover,
#clip_copy > div > div > div:hover {
    background-color: var(--hover-color);
}
.clip_copy {
    width: 200px !important;
    height: 192px !important;
}
.clip_copy_h {
    width: var(--color-size) !important;
    height: 0 !important;
}
#clip_wh {
    position: absolute;
    z-index: 11;
    backdrop-filter: var(--blur);
    background: var(--bar-bg);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    display: flex;
}
#clip_wh > div:focus {
    outline: none;
}
#clip_wh > div {
    cursor: text;
    margin: 8px;
    font-family: var(--monospace);
}
#x0y0,
#x1y1 {
    display: none;
}

#waiting {
    position: fixed;
    display: none;
    z-index: 11;
}

#toast {
    display: flex;
    align-items: center;
}
#toast > span {
    width: 100%;
}

.input_bar {
    transition: var(--transition);
    overflow: hidden;
}
.input_bar > div {
    display: flex;
    align-items: center;
}
.input_bar > div > input {
    border: none;
    height: 20px;
    padding: 0;
    background-color: #0000;
    width: 100%;
    font-size: 1rem;
}
.input_bar > div > button,
#toast > button {
    border: none;
    transition: var(--transition);
    border-radius: var(--border-radius);
    width: 36px;
    height: 36px;
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: #0000;
    flex-shrink: 0;
}
.input_bar > div > button:hover,
#toast > button:hover {
    background-color: var(--hover-color);
}
#toast > button {
    background-image: url(../assets/tool_close.svg);
}
#open_file {
    background-image: url(../assets/open_file.svg);
}
#open {
    background-image: url(../assets/open_open.svg);
}
#app_path > button:hover {
    background-color: var(--hover-color);
}

@media (prefers-color-scheme: dark) {
}
