body::-webkit-scrollbar {
    display: none;
}
html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--bg);
}

.main {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 80px 1fr repeat(2, 40px) repeat(2, auto);
    grid-template-rows: auto 40px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    padding: 16px;
    box-sizing: border-box;
}

#top {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    grid-area: 1 / 1 / 2 / 7;
    border-radius: var(--border-radius);
    transition: var(--transition);
}

#tab_bar {
    margin: 0;
}
.main > div:not(:first-child) {
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: var(--bg2);
    transition: var(--transition);
}
.main > div:not(:first-child):hover {
    box-shadow: var(--shadow);
}

#text_out {
    box-sizing: border-box;
    overflow: overlay;
    transition: var(--transition);
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content 100%;
    flex: 1;
    border-radius: var(--border-radius);
    background: var(--bg2);
    cursor: text;
    font-size: 1em;
    line-height: 1.5em;
}
#text {
    box-sizing: border-box;
    flex-grow: 1;
    font-size: 1em;
    line-height: 1.5em;
    transition: var(--transition);
    scroll-behavior: smooth;
    margin: 8px;
    overflow-x: overlay;
}
#text::-webkit-scrollbar {
    display: none;
}
#text:focus {
    outline: none;
}
#line_num {
    margin: 8px;
    text-align: end;
    opacity: 0.3;
    overflow: hidden;
    cursor: default;
    user-select: none;
}
#text_bottom {
    grid-area: 2 / 1 / 3 / 3;
}

/* 用于历史记录和浏览器打开固定 */
.hover_b2 {
    box-shadow: var(--shadow);
}
.hover_b2 > button {
    background-color: var(--hover-color);
}

#history_list {
    transition: var(--transition);
    overflow-y: overlay;
    height: 0;
    text-align: center;
    position: relative;
    z-index: 9;
}
#history_list > div {
    margin: 0 0 16px 0;
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: var(--bg);
    transition: var(--transition);
}
#history_list > div:hover {
    background-color: var(--hover-color);
    box-shadow: var(--shadow);
}
.history_title {
    height: 16px;
    padding: 4px;
    display: flex;
    justify-content: flex-end;
}
.history_title > button {
    height: 16px;
    width: 16px;
    padding: 0;
    margin-left: 4px;
    background-color: var(--hover-color);
    font-size: 16px;
    transition: var(--transition);
    border-radius: 50%;
}
.history_title > button>.icon{
    width: 16px;
}
.history_title > button:hover {
    background-color: #f00;
}
.history_text {
    padding: 8px;
    text-align: start;
}

#edit_b {
    position: absolute;
    border-radius: var(--border-radius);
    backdrop-filter: var(--blur);
    box-shadow: var(--shadow);
    font-size: 5px;
    overflow: hidden;
    cursor: pointer;
    background-color: var(--bar-bg);
    transition: var(--transition);
}
.edit_h {
    opacity: 0;
    pointer-events: none;
}
.edit_s {
    opacity: 1;
    pointer-events: auto;
}
#edit_b > div {
    float: left;
    width: 30px;
    height: 30px;
    font-size: 30px;
    transition: var(--transition);
    position: relative;
}
#edit_b > div:hover {
    background-color: var(--bar-hover-color);
}

#edit_b > div > .icon {
    width: 30px;
}
#link_bar {
    width: 0;
    transition: var(--transition);
    overflow: hidden;
}

#find {
    position: absolute;
    top: 0;
    right: 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    background-color: var(--bg);
    transition: var(--transition);
    transform: translateY(-120%);
    box-shadow: var(--shadow);
    padding: 4px;
    border-bottom-left-radius: var(--border-radius);
}
#find > div {
    display: flex;
    align-items: center;
}
.find_buttons {
    grid-area: 1 / 2 / 2 / 3;
}
.find_f {
    grid-area: 1 / 1 / 2 / 2;
}
.find_s {
    grid-area: 2 / 1 / 3 / 2;
}
.find_t > span {
    font-size: 14px;
    font-family: var(--monospace);
}
#find button {
    width: 20px;
    height: 20px;
    padding: 0;
    border-radius: 4px;
    font-size: 20px;
    position: relative;
}
#find button > .icon {
    width: 20px;
}
#find input {
    border: none;
    background-color: var(--bar-color);
    backdrop-filter: var(--blur);
    border-radius: 4px;
}
.find_h {
    background-color: var(--hover-color);
    border-radius: 2px;
}
.find_h_h {
    background-color: #00000040;
}

button {
    border-radius: 0;
    background-color: var(--bg);
    height: var(--height);
    border: none;
    outline: none;
    margin: 0px;
    color: var(--color);
    padding: 0;
    transition: var(--transition);
    cursor: pointer;
    background-position: center;
    background-size: cover;
    width: 40px;
    position: relative;
}
button:hover {
    background-color: var(--hover-color);
}
select {
    border-radius: 0;
    background-color: var(--bg);
    height: var(--height);
    border: none;
    outline: none;
    margin: 0px;
    color: var(--color);
    font-size: var(--font-size);
    padding: 0 16px 0 16px;
    transition: var(--transition);
    user-select: none;
}
select:hover {
    background-color: var(--hover-color);
}
option {
    font-size: var(--font-size);
}
button > .icon {
    width: 40px;
}

@media (prefers-color-scheme: dark) {
    .find_h_h {
        background-color: #ffffff40;
    }
}
