:root {
    --hover-color: #0002;
}
::-webkit-scrollbar {
    display: none;
}
html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}
html {
    /* background: #000; */
}
/* 窗口预览 */
#windows_bar {
    width: 200px;
    /* height: 20px; */
    background: #fff0;
    position: fixed;
    left: -100px;
    backdrop-filter: blur(20px);
    transition: 0.5s;
    overflow: scroll;
    max-height: 100%;
}
#windows_bar:hover {
    left: 0px;
    transition: 0.5s;
}
.window {
    /* background-color: #fff9; */
    transition: 0.5s;
}
.window:hover {
    background-color: var(--hover-color);
    transition: 0.5s;
}
.window_name {
}
.window_icon {
    height: 2rem;
    vertical-align: middle;
}
.window_title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 0 0 8px;
}
#window_photo {
    width: 100%;
}
.window_thumbnail {
    width: 100%;
}

/* 工具 */
#tool_bar {
    width: 60px;
    background: #fff9;
    position: fixed;
    right: 10px;
    top: 100px;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
}
#tool_bar > div {
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    transition: 0.5s;
}
#tool_bar > div:hover {
    background-color: var(--hover-color);
    transition: 0.5s;
}
#tool_close {
    background-image: url("../assets/tool_close.svg");
}
#tool_ocr {
    background-image: url("../assets/tool_ocr.svg");
}
#tool_QR {
    background-image: url("../assets/tool_QR.svg");
}
#tool_draw {
    background-image: url("../assets/tool_draw.svg");
}
#tool_ding {
    background-image: url("../assets/tool_ding.svg");
}
#tool_copy {
    background-image: url("../assets/tool_copy.svg");
}
#tool_save {
    background-image: url("../assets/tool_save.svg");
}

/* 画 */
#draw_bar {
    width: 60px;
    background: #fff9;
    position: fixed;
    right: 80px;
    top: 100px;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
}
#draw_bar > div {
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    transition: 0.5s;
}
#draw_bar > div:hover {
    background-color: var(--hover-color);
    transition: 0.5s;
}
video {
    width: 50%;
    height: 50%;
    margin: 0 auto;
}
@media (max-width: 900px) {
}

@media (prefers-color-scheme: dark) {
}
