::-webkit-scrollbar {
    display: none;
}
html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}
#photo{
    width: 100%;
    height: 100%;
}
.ding_photo {
    position: fixed;
    overflow: hidden;
}
#tool_bar {
    display: flex;
    align-items: center;
    backdrop-filter: var(--blur);
    background: var(--bar-bg);
    width: 100%;
    position: fixed;
    transform: translateY(-105%);
    transition: 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    user-select: none;
}
#tool_bar > div {
    margin: 0 8px;
    display: flex;
    align-items: center;
}
.img{
    position: absolute;
}
#size_main_p {
    display: none;
    pointer-events: none;
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--border-radius);
    backdrop-filter: var(--blur);
    background: var(--bar-bg);
    padding: 8px;
    transition: var(--transition);
}

input[type="range"] {
    -webkit-appearance: none;
    width: 150px;
    border-radius: 10px;
    height: 20px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 20px;
    border-radius: 10px;
    border: #000 solid 1px;
    background-color: #0000;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    background: var(--color);
    border-radius: 10px;
}

.opacity,
.size {
    width: 40px;
    height: 40px;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}
.opacity {
    background-image: url("../assets/ding_opacity.svg");
}
.size {
    background-image: url("../assets/ding_size.svg");
}
#size > span {
    outline: none;
}

#b {
    margin: 8px 8px 8px auto !important;
    border-radius: var(--border-radius);
    overflow: hidden;
    border: var(--border);
}
#b > button {
    border: none;
    transition: var(--transition);
    background-size: 80%;
    background-color: #0000;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px;
    width: 40px;
    height: 40px;
}
#b > button:hover {
    background-color: var(--hover-color);
}
#minimize {
    background-image: url("../assets/ding_minimize.svg");
}
#back {
    background-image: url("../assets/ding_back.svg");
}
#close {
    background-image: url("../assets/ding_close.svg");
}

@media (max-width: 700px) {
    #tool_bar {
        zoom: 0.9;
    }
}
@media (max-width: 620px) {
    #tool_bar {
        zoom: 0.8;
    }
}
@media (max-width: 540px) {
    #tool_bar {
        zoom: 0.7;
    }
}
@media (max-width: 480px) {
    #tool_bar {
        zoom: 0.6;
    }
}
@media (max-width: 410px) {
    #tool_bar {
        zoom: 0.6;
        flex-direction: column;
    }
}
