::-webkit-scrollbar {
    display: none;
}
html,body{
    margin: 0;
    -webkit-app-region: drag;
    font-family: sans-serif;
}
#ding_photo{
    width: 100%;
}
#tool_bar{
    -webkit-app-region: no-drag;
    width: 100%;
    position: fixed;
    height: 40px;
    top: -40px;
    padding-bottom: 10px;
    transition: 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}
#tool_bar:hover{
    top: 0;
    transition: 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}