#draw_color {
    display: flex;
    align-content: center;
    align-items: center;
}
#draw_color > div {
    width: 80%;
    height: 80%;
    border-radius: 20px;
    border-width: 10px;
    border-style: solid;
    box-sizing: border-box;
    border-color: #333;
    background-color: #fff;
}

#draw_color_input {
    outline: none;
    background-color: white;
}
#draw_color_alpha {
    overflow: hidden;
}
#draw_color_alpha > div {
    height: 100%;
    width: 0%;
    background-color: var(--hover-color);
}
#draw_color_color {
    overflow: scroll;
}
.color_i {
    width: 12px;
    height: 12px;
    float: left;
}
