#draw_color {
    display: flex;
    justify-content: center;
    align-items: center;
}
#draw_color > div {
    width: 52.5%;
    height: 52.5%;
    border-radius: 8px;
    border-width: 4px;
    border-style: solid;
    box-sizing: border-box;
    border-color: #333;
    background-color: #fff;
}
#draw_color_input {
    overflow: hidden;
}
#draw_color_input > div {
    outline: #333;
    font-family: var(--monospace);
    font-size: 12px;
    height: 50%;
}
#draw_color_alpha {
    overflow: hidden;
}
#draw_stroke_width {
    overflow: hidden;
}
#draw_color_color {
    overflow: scroll;
}
.color_i {
    width: 12px;
    height: 12px;
    float: left;
}

.edit_s{
    width: 280px;
}
#draw_edit_run{
    background-image: url("../assets/open_file.svg");
}