body {
    margin: 0;
    overflow: hidden;
}

#main {
    display: flex;
    background-color: var(--bg);
    border-radius: var(--border-radius);
}

#record_b {
    display: flex;
    opacity: 0.4;
    pointer-events: none;
}

#start_stop_icon {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #f00;
    position: absolute;
    left: 4px;
    top: 4px;
    transition: var(--transition);
}

.stop {
    width: 12px !important;
    height: 12px !important;
    left: 6px !important;
    top: 6px !important;
    border-radius: 4px !important;
}

#main button,
#main lock-b {
    width: 24px;
    height: 24px;
    position: relative;
    background-color: var(--bg);
    border: none;
    transition: var(--transition);
    border-radius: var(--border-radius);
}

#main button:hover,
#main lock-b:hover {
    background-color: var(--hover-color);
}

#time {
    -webkit-app-region: drag;
    flex-grow: 1;
    line-height: 24px;
    text-align: center;
}

#main button > .icon,
#main lock-b > .icon {
    width: 20px;
    left: 2px;
    top: 2px;
    user-select: none;
}

#video {
    display: flex;
    justify-content: center;
    border-radius: var(--border-radius);
    overflow: hidden;
}
video {
    height: calc(100vh - 24px);
}
