body {
    margin: 0;
    overflow: hidden;
}

#main {
    display: flex;
    background-color: var(--bg);
    border-radius: var(--border-radius);
}

#record_b {
    display: flex;
    opacity: 0.4;
    pointer-events: none;
}

#main button {
    width: 24px;
    height: 24px;
    position: relative;
    background-color: var(--bg);
    border: none;
    transition: var(--transition);
    border-radius: var(--border-radius);
}

#main button:hover {
    background-color: var(--hover-color);
}

#time {
    -webkit-app-region: drag;
    width: 72px;
    line-height: 24px;
    text-align: center;
}

#main button > .icon {
    width: 20px;
    left: 2px;
    top: 2px;
    user-select: none;
}
