#rect {
    position: fixed;
    outline: 1px solid #000;
}

#mouse_c {
    position: fixed;
    width: 24px;
    height: 24px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #ff08;
}

#bar {
    position: absolute;
    right: 4px;
    bottom: 4px;
}

#mouse {
    display: flex;
}

#mouse > div:nth-child(1) {
    width: 8px;
    height: 16px;
    border-radius: 4px 0 0 4px;
    margin-right: -2px;
}
#mouse > div:nth-child(2) {
    width: 4px;
    height: 8px;
    border-radius: 2px;
    margin-right: -2px;
}
#mouse > div:nth-child(3) {
    width: 8px;
    height: 16px;
    border-radius: 0 4px 4px 0;
}
