:root {
    --hover-color: #0002;
    --transition: 0.4s cubic-bezier(0.25, 1, 0.5, 1);
    --border-radius: 8px;
    --bar-bg: #fff9;
    --blur: blur(10px);
    --shadow: #0002 0 0 8px;
    --height: 40px;
    --bg: #fff;
    --color: #000;
    --color2: #555;
    --border: 1px #000 solid;
    --font-size: 20px;
    --color-size: 150px;
    --color-i-size: 10px;
    --monospace: ;
    --main-font: sans-serif;
}

html,
body {
    margin: 0;
    font-family: var(--main-font);
}

#tab_bar {
    margin: 0 auto 16px 16px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    overflow: hidden;
    border: var(--border);
    backdrop-filter: var(--blur);
    background-color: var(--bar-bg);
}
#tab_bar a {
    display: block;
}

#tab_bar a div {
    width: 40px;
    height: 40px;
    transition: var(--transition);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#tab_bar a div:hover {
    background-color: var(--hover-color);
}

#main {
    background-image: url(../assets/main.svg);
}
#setting {
    background-image: url(../assets/setting.svg);
}
#help {
    background-image: url(../assets/help.svg);
}

kbd {
    display: inline-block;
    padding: 4px;
    border-radius: var(--border-radius);
    box-shadow: 0 5px #0002;
    transform: rotateX(45deg);
    background: linear-gradient(315deg, #e6e6e6, #ffffff);
    font-family: var(--monospace);
}

::-webkit-scrollbar {
    width: 8px;
    height: 1px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #dddd;
}
::-webkit-scrollbar-track {
    background: #0000;
}
::-webkit-scrollbar-button {
    height: 8px;
}
.hidescrollbar::-webkit-scrollbar {
    width: 0px !important;
    height: 1px;
}

.hover_b {
    background-color: var(--hover-color);
}

button {
    outline: none;
}

input {
    outline: none;
}

select {
    outline: none;
}

textarea{
    outline: none;
}
