:root {
    --hover-color: #0002;
    --transition:0.5s cubic-bezier(0.25, 1, 0.5, 1);
}
::-webkit-scrollbar {
    display: none;
}
html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    font-family: sans-serif;
}
#setting_main{
    width: 100%
}
#setting_item{
    display: flex;
    margin: 16px 0 16px 0;
}
#setting_left{
    width: 30%;
    font-size: 20px;
}
#setting_right{
    width: 70%;
}
set-select{
    width: 100%;
}