::-webkit-scrollbar {
    display: none;
}
html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}
#tab_bar {
    position: fixed;
    bottom: 0;
}
#setting_main {
    width: 70%;
    margin-left: 20%;
    padding-bottom: 100px;
}
#setting_item {
    margin: 32px 0 32px 0;
}
#setting_left {
    width: 30%;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 0 8px 0;
}
#setting_right {
    width: 70%;
}
textarea {
    padding: 8px;
    width: 80%;
    height: 100px;
    border-radius: var(--border-radius);
}
input {
    vertical-align: middle;
}
input[type="text"] {
    border-radius: var(--border-radius);
    border: var(--border);
    padding: 1px 4px 1px 4px;
}
input[type="text"]:disabled {
    opacity: 0.2;
}
input[type="number"] {
    width: 50px;
    border: none;
    border-bottom: var(--border);
}
textarea:focus,
input:focus {
    outline: none;
}

#遮罩颜色 > span,
#选区颜色 > span {
    display: inline-block;
    border: 1px #000 solid;
    border-radius: var(--border-radius);
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: 100%;
    background-image: linear-gradient(#0000, #0000), url("../assets/tbg.svg");
}
#遮罩颜色 > input,
#选区颜色 > input,
#ocr_url,
#ocr_access_token {
    margin: 0 0 0 8px;
}
#遮罩颜色,
#选区颜色 {
    display: flex;
}

set-select {
    width: 100%;
}
