:host {
    display: flex;
}
.文字 {
    margin: 0;
}
.选项 {
    margin: 8px;
    border-radius: 8px;
    padding: 8px;
    transition: var(--transition);
}
.选项:hover {
    background: var(--hover-color);
}
.选中 {
    background: var(--hover-color);
}
