:host {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.文字 {
    margin: 0;
}
.选项 {
    margin: 8px;
    border-radius: 8px;
    padding: 8px;
    transition: var(--transition);
}
.选项:hover {
    background: var(--hover-color);
}
.选中 {
    background: var(--hover-color);
}

hot-keys {
    display: flex;
    align-items: center;
}
#key_input {
    width: 200px;
    height: 25px;
    border: none;
    border-bottom: 1px solid var(--hover-color);
    transition: var(--transition);
}

#key_input:focus {
    border-bottom: var(--border);
}

#clear {
    /* width: 20px; */
    border: var(--border);
    /* height: 20px; */
    vertical-align: middle;
    display: inline-block;
    padding: 4px 8px 4px 8px;
    border-radius: var(--border-radius);
    background: none;
    transition: var(--transition);
}
#clear:hover {
    background-color: var(--hover-color);
}
