:host {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.文字 {
    margin: 0;
}
.选项 {
    margin: 8px 8px 8px 0;
    border-radius: 8px;
    padding: 8px;
    transition: background var(--transition), box-shadow var(--transition);
}
.选项:hover {
    box-shadow: var(--shadow);
}
.选中 {
    background: var(--m-color1);
    color: #fff;
}
.选中 > * {
    filter: invert(1) brightness(2);
}

hot-keys {
    display: flex;
    align-items: center;
}
#key_input {
    flex: 1;
    height: 25px;
    border: none;
    border-bottom: 1px solid var(--hover-color);
    transition: var(--transition);
    outline: none;
}

#key_input:focus {
    border-bottom: var(--border);
}

#clear {
    display: inline-block;
    background: none;
    box-shadow: none;
    position: relative;
    height: 1.5em;
    width: 1.5em;
    cursor: pointer;
}
#clear > .icon {
    height: 1.5em;
}
