node_modules
__pycache__
readme/todo.md
out/
eSearch
.VSCodeCounter/
ocr/ppocr
.DS_Store
build
preload_config
portable
lib/win_rect.exe
lib/copy.exe
lib/ffmpeg
assets/onnx
lib/translate/*.csv
script/make_aur/e-search/usr/share/icons/
script/make_aur/e-search/usr/lib/e-search/app/
script/make_aur/*.aur
script/make_aur/e-search/usr/share/applications/e-search.desktop
