body::-webkit-scrollbar {
    display: none;
}
html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

:root {
    --title-bar: calc(env(titlebar-area-height, 24px) - 4px);
}

nav {
    position: absolute;
    left: calc(env(titlebar-area-x, 0) + 2px);
    top: 2px;
    width: calc(env(titlebar-area-width, 100%) - 4px);
    height: var(--title-bar);
    overflow: hidden;
    -webkit-app-region: drag;
    display: flex;
}

nav > button {
    border-radius: var(--border-radius);
    height: var(--title-bar) !important;
    width: var(--title-bar) !important;
    display: block;
    -webkit-app-region: no-drag;
}
nav > button > .icon {
    height: var(--title-bar);
    width: var(--title-bar);
}

#edit {
    flex-grow: 1;
    display: flex;
    overflow: auto;
    flex-direction: column;
    transition: var(--transition);
}

.main {
    height: 100%;
    width: 100%;
    gap: var(--o-padding);
    box-sizing: border-box;
    transition: var(--transition);
}

#top {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    border-radius: var(--border-radius);
    transition: var(--transition);
    position: relative;
}

.image_main {
    gap: var(--o-padding);
}
.image_main > #image {
    height: 100%;
}
.image_main > .main {
    height: 100%;
}

#text_out {
    box-sizing: border-box;
    transition: var(--transition);
    display: flex;
    flex: 1;
    border-radius: var(--border-radius);
    background: var(--bg);
    cursor: text;
    font-size: 1em;
    line-height: 1.5em;
    position: relative;
    height: 100%;
}
#line_num {
    margin: 0 8px;
    text-align: end;
    opacity: 0.3;
    cursor: default;
    user-select: none;
    position: relative;
}
#line_num > div {
    position: absolute;
    width: 100%;
    font-family: var(--monospace);
}
#main_text {
    overflow: overlay;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-user-drag: none;
}
.text {
    position: relative;
    height: 100%;
    overflow: auto;
}
.text > * {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1.5em;
    resize: none;
    height: max-content;
    font-family: var(--main-font);
    border: none;
    overflow: hidden;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: start;
    white-space: var(--wrap);
    overflow-wrap: break-word;
}
.text > textarea {
    height: 100%;
}
.text > textarea::spelling-error {
    text-decoration: underline wavy #44f;
}
.text > textarea::selection {
    background-color: var(--hover-color);
}
.text > :not(textarea) {
    pointer-events: none;
    color: transparent;
}

.text .selection {
    background-color: var(--hover-color);
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

#history_list {
    transition: var(--transition);
    overflow-y: overlay;
    height: 100%;
    text-align: center;
    position: absolute;
    z-index: 9;
    top: 100%;
    width: 100%;
    background-color: var(--bg);
}
#history_list > div {
    margin: 0 0 16px 0;
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: var(--bg);
    transition: var(--transition);
}
#history_list > div:hover {
    background-color: var(--hover-color);
    box-shadow: var(--shadow);
}
.history_title {
    height: 16px;
    padding: 4px;
    display: flex;
    justify-content: flex-end;
}
.history_title > button {
    height: 16px !important;
    width: 16px !important;
    padding: 0;
    margin-left: 4px;
    background-color: var(--hover-color);
    font-size: 16px;
    transition: var(--transition);
    border-radius: 50%;
}
.history_title > button > .icon {
    width: 16px;
}
.history_title > button:hover {
    background-color: #f00;
}
.history_title > button:hover > .icon {
    filter: invert(1);
}
.history_text {
    padding: 8px;
    text-align: start;
}

#edit_b {
    position: absolute;
    z-index: 3;
    border-radius: var(--border-radius);
    backdrop-filter: var(--blur);
    box-shadow: var(--shadow);
    font-size: 5px;
    overflow: hidden;
    cursor: pointer;
    background-color: var(--bar-bg);
    display: flex;
    top: 0;
}
.edit_h {
    opacity: 0;
    pointer-events: none;
}
.edit_s {
    opacity: 1;
    pointer-events: auto;
}
#edit_b > div {
    height: 30px;
    width: 30px;
    overflow: hidden;
    font-size: 30px;
    position: relative;
    transition: var(--transition);
    &:active {
        transform: var(--button-active);
    }
}
#edit_b > div:hover {
    background-color: var(--bar-hover-color);
}

#edit_b > div > .icon {
    width: 30px;
}
#link_bar {
    width: 0;
    overflow: hidden;
}

#image {
    display: grid;
    gap: var(--o-padding);
    width: 100%;
    height: 0%;
    overflow: hidden;
    box-sizing: border-box;
    grid-template-columns: auto min-content;
    grid-template-rows: auto auto;
    background-color: var(--bg);
    transition: var(--transition);
}

#image .icon {
    width: 32px;
}
#img_input {
    grid-area: 1 / 1 / 2 / 2;
}
#drop {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    transition: var(--transition);
    &:active {
        transform: var(--button-active);
    }
}
#drop:hover {
    background-color: var(--hover-color);
}
#upload {
    display: none;
}
#file_input {
    position: relative;
    width: var(--b-button);
    height: var(--b-button);
}

#text_output {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    gap: var(--o-padding);
}
#text_output > * {
    position: relative;
    width: var(--b-button);
    height: var(--b-button);
    border-radius: var(--border-radius);
    transition: var(--transition);
}
#text_output > *:hover {
    background-color: var(--hover-color);
}

#ocr引擎 {
    width: auto;
}

#img_view {
    grid-area: 2 / 1 / 3 / 3;
    overflow: auto;
}
#img_view > div {
    width: 100%;
    position: relative;
}
#img_view > div > img {
    width: 100%;
    display: block;
}
#img_view > div > div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
#img_view > div > div > p {
    position: absolute;
    margin: 0;
    color: transparent;
    white-space: nowrap;
    overflow: hidden;
}
#img_view > div > div > p::selection {
    background-color: #78a9fd99;
}

::highlight(img-highlight) {
    background-color: #78a9fd99;
}

#find {
    position: absolute;
    top: 0;
    right: 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: var(--base-size2) var(--base-size2);
    background-color: var(--bg);
    transition: var(--transition);
    transform: translateY(-120%);
    box-shadow: var(--shadow);
    padding: 4px;
    border-bottom-left-radius: var(--border-radius);
}
#find > div {
    display: flex;
    align-items: center;
}
#count {
    grid-area: 1 / 1 / 2 / 2;
    font-size: 14px;
    margin-right: 8px;
    opacity: 0.5;
}
.find_buttons {
    grid-area: 1 / 3 / 2 / 4;
}
.find_f {
    grid-area: 1 / 2 / 2 / 3;
}
.find_s {
    grid-area: 2 / 2 / 3 / 3;
}
.find_t > span {
    font-size: 14px;
    font-family: var(--monospace);
}
#find button {
    width: var(--base-size2);
    height: var(--base-size2);
    border-radius: 4px;
}
#find button > .icon {
    width: var(--base-size2);
}
#find input {
    border-radius: 4px;
    font-size: 12px;
    padding-inline: 4px;
    height: 100%;
}
.find_h {
    background-color: var(--hover-color);
    border-radius: 2px;
}
.find_h_h {
    background-color: #00000040;
}

#bottoms {
    display: flex;
    gap: var(--o-padding);
    height: 32px;
    transition: var(--transition);
}

#bottoms > * {
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    overflow: hidden;
    transition: var(--transition);
}
#bottoms > *:hover {
    box-shadow: var(--shadow);
}

#bottoms > div > button:active {
    transform: none;
}

#bottoms > div:not(#tabs):has(> button:active) {
    transform: var(--button-active);
}

button {
    height: var(--height);
    margin: 0px;
    color: var(--color);
    padding: 0;
}
select {
    height: var(--height);
    margin: 0px;
    color: var(--color);
    padding: 0 var(--o-padding) 0 var(--o-padding);
    field-sizing: content;
}

button > .icon {
    width: var(--b-button);
}

@media (prefers-color-scheme: dark) {
    .find_h_h {
        background-color: #ffffff40;
    }
}

#tabs {
    display: flex;
    margin: 0;
    padding: 0;
    overflow-x: scroll;
    opacity: 0;
    pointer-events: none;
    flex-grow: 1;
}
#tabs::-webkit-scrollbar {
    display: none;
}

.tabs_show {
    opacity: 1 !important;
    pointer-events: all !important;
}

#buttons {
    display: flex;
    position: sticky;
    left: 0;
    z-index: 3;
    border-radius: var(--border-radius);
    overflow: hidden;
}
#buttons > div {
    cursor: pointer;
    width: var(--b-button);
    height: var(--b-button);
    transition: var(--transition);
    background-color: var(--bg);
    position: relative;
}
#buttons > div:hover {
    background-color: var(--hover-color);
    box-shadow: var(--shadow);
}
#buttons > div > .icon {
    width: var(--b-button);
}

.b_tab {
    display: flex;
    height: var(--b-button);
    align-items: center;
    flex: 1;
    max-width: 200px;
    justify-content: space-between;
    transition: var(--transition);
    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
}
.b_tab:hover {
    background-color: var(--hover-color);
    box-shadow: var(--shadow);
}
.tab_focus {
    background-color: var(--hover-color);
}
.tab_small {
    max-width: 32px !important;
}
.tab_gray > img {
    filter: grayscale(1);
}

.b_tab > img {
    height: 20px;
    margin-left: 6px;
}
.loading {
    animation: loading 0.8s linear 0s infinite;
}
@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.b_tab > span {
    cursor: default;
    padding-left: 4px;
    overflow: hidden;
    white-space: nowrap;
    flex-grow: 1;
}
.b_tab > button {
    width: 20px !important;
    height: 20px !important;
    flex-shrink: 0;
    background: none;
    border: none;
    border-radius: 4px;
    transition: var(--transition);
    margin: 2px;
    padding: 0;
}

.b_tab > button > .icon {
    width: 20px;
}

.b_tab > button:hover {
    box-shadow: var(--shadow);
}

body > div {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 32px);
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 32px;
    box-sizing: border-box;
    padding: var(--o-padding);
    box-sizing: border-box;
    gap: var(--o-padding);
}

.fill_t {
    background-color: var(--bg);
}

.fill_t_s .fill_t :is(#find, #edit) {
    visibility: hidden;
}
