#dock {
    position: fixed;
    height: 50px;
    width: 10px;
    left: 0;
    top: 0;
    transition: var(--transition);
    z-index: 2;
}

.dock {
    width: 200px !important;
    height: 100% !important;
    top: 0 !important;
    border-radius: 0 !important;
}

.dock_left {
    left: 0 !important;
}

.dock_right {
    left: calc(100vw - 200px) !important;
}

#dock > div {
    overflow: hidden;
    width: 100%;
    display: none;
}
#dock img {
    width: 100%;
}
.i_bar {
    position: absolute;
    right: 8px;
    border-radius: var(--o-padding);
}
