body {
    --hover-color: var(--bar-hover-color) !important;
}
::-webkit-scrollbar {
    display: none;
}
html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}
body > #tool_bar,
body > #dock_item {
    display: none;
}
#photo {
    width: 100%;
    height: 100%;
}
.ding_photo {
    position: fixed;
    overflow: hidden;
    &:focus {
        outline: none;
    }
}
.ding_photo:hover,
.ding_photo_h {
    box-shadow: var(--shadow);
}
#tool_bar {
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 2;
}
#tool_bar_c {
    display: none;
    align-items: center;
    backdrop-filter: var(--blur);
    background: var(--bar-bg);
    width: 100%;
    transform: translateY(-105%);
    transition: var(--transition);
    user-select: none;
}
#tool_bar_c > div {
    display: flex;
    align-items: center;
}
.img {
    position: absolute;
    width: 100%;
    user-select: none;
}

#b {
    border-radius: var(--border-radius);
    overflow: hidden;
    transition: var(--transition);
}
#b:hover {
    box-shadow: var(--shadow);
}
#b > button {
    transition: var(--transition);
    background-color: #0000;
    padding: 0;
    width: 32px;
    height: 32px;
}
#b > button > .icon {
    width: 32px;
}

.minimize {
    opacity: 0 !important;
    pointer-events: none !important;
}

#dock {
    position: fixed;
    height: 50px;
    width: 10px;
    left: 0;
    top: 0;
    background-color: var(--bar-bg);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    transition: var(--transition);
    z-index: 2;
}

.dock {
    width: 200px !important;
    height: 100% !important;
    top: 0 !important;
    border-radius: 0 !important;
}

#dock > div {
    overflow: hidden;
    width: 100%;
    display: none;
}
#dock_item {
    padding: 8px 8px 0 8px;
    box-sizing: border-box;
}
#dock img {
    width: 100%;
}
.i_bar {
    gap: 4px;
    position: absolute;
    right: 8px;
}
.i_bar > div {
    width: 24px;
    height: 24px;
    background-color: var(--bar-bg);
    transition: var(--transition);
    border-radius: 50%;
    backdrop-filter: var(--blur);
    cursor: pointer;
    font-size: 24px;
}

.i_bar > div:hover {
    background-color: var(--hover-color);
}
