body {
    overflow: overlay;
    background-color: var(--bg);
}
main {
    width: 70%;
    margin-left: 15%;
}

#tab_bar {
    position: fixed;
    bottom: 0;
}

img {
    width: 80%;
}

main .icon {
    width: auto;
    height: 1em;
    vertical-align: middle;
    position: static;
}

.window {
    box-shadow: 0 0 16px #00000030;
    border-radius: var(--border-radius);
}

a {
    color: unset;
}
