body {
    display: flex;
    height: 100vh;
    background: var(--bg);
}

#sidebar_sidebar {
    width: 200px;
    padding: var(--o-padding);
    gap: var(--o-padding);
}

canvas {
    max-width: 100%;
    max-height: 100%;
    transition: var(--transition);
    &:hover {
        box-shadow: var(--shadow);
    }
}

input[type="number"] {
    field-sizing: content;
}
