body {
    display: flex;
    height: 100vh;
    background: var(--bg);
}

#sidebar_sidebar {
    width: 200px;
    padding: var(--o-padding);
    gap: var(--o-padding);
}

select {
    background-color: var(--bg);
    transition: var(--transition);
    &:hover {
        background-color: var(--hover-color);
    }
}

canvas {
    max-width: 100%;
    max-height: 100%;
    transition: var(--transition);
    &:hover {
        box-shadow: var(--shadow);
    }
}

input[type="number"] {
    field-sizing: content;
}

select {
    border-radius: var(--border-radius);
}

button {
    transition: var(--transition);
    border-radius: var(--border-radius);
    &:hover {
        background-color: var(--hover-color);
        box-shadow: var(--shadow);
    }
}

button:has(.icon) {
    position: relative;
    width: var(--b-button);
    height: var(--b-button);
    flex-shrink: 0;
}
