body {
    display: flex;
    height: 100vh;
    background: var(--bg);
}

canvas {
    max-width: 100%;
    max-height: 100%;
    transition: var(--transition);
    &:hover {
        box-shadow: var(--shadow);
    }
}

input[type="number"] {
    field-sizing: content;
}

.sub-title {
    font-size: 1.2rem;
    font-weight: 500;
}
