body {
    margin: 0;
}

#m {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--border-radius);
    justify-content: space-between;
    height: 100vh;
    transition: var(--transition);
}

#video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;
}
#v_p {
    border-radius: var(--border-radius);
    overflow: hidden;
}
video {
    border-radius: var(--border-radius);
    position: relative;
}

#s {
    height: 0;
}
.s_show {
    padding: 8px;
    height: auto !important;
}

#jdt {
    -webkit-appearance: none;
    width: 100%;
    border-radius: 2px;
    background: var(--hover-color);
    margin: 0;
}

#jdt::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: var(--font-color);
    border-radius: 2px;
    height: 16px;
    width: 4px;
}
input {
    vertical-align: middle;
    font-family: var(--main-font);
}
input[type="number"] {
    width: 16px;
    padding: 0;
}

#t_nt,
#t_t {
    font-family: var(--monospace);
}

#t_start,
#t_end {
    width: 100px;
}

select {
    border: none;
    background-color: transparent;
    font-size: 1em;
}

.pro_p {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    border-radius: var(--border-radius);
    overflow: hidden;
    background: var(--hover-color);
    margin-top: 4px;
}
.pro {
    width: 0%;
    height: 100%;
    transition: var(--transition);
    border-radius: var(--border-radius);
    white-space: nowrap;
}
.pro_running {
    background-color: #9999ff;
}
.pro_ok {
    background-color: #99ff99;
}
.pro_error {
    background-color: #ff9999;
}

.hide_log {
    display: none;
}

textarea {
    width: 100%;
    min-height: 2lh;
}
