body {
    margin: 0;
}

#m {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--border-radius);
    justify-content: space-between;
    height: 100vh;
    transition: var(--transition);
}

#main {
    display: flex;
    background-color: var(--bg);
    border-radius: var(--border-radius);
    width: 100%;
}

#record_b {
    display: flex;
    opacity: 0.4;
    pointer-events: none;
}

#start_stop_icon {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #f00;
    position: absolute;
    left: 4px;
    top: 4px;
    transition: var(--transition);
}

.stop {
    width: 12px !important;
    height: 12px !important;
    left: 6px !important;
    top: 6px !important;
    border-radius: 4px !important;
}

#main > select:nth-last-of-type(1) {
    width: auto;
}
#main > select {
    width: var(--b-button);
}

#main label > input {
    display: none;
}
#main label:has(input:checked) {
    background-color: var(--hover-color) !important;
}

#time {
    -webkit-app-region: drag;
    flex-grow: 1;
    line-height: 24px;
    text-align: center;
    font-family: var(--monospace);
}

#main button > .icon,
#main label > .icon {
    width: 24px;
    user-select: none;
}

#video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;
}
#v_p {
    border-radius: var(--border-radius);
    overflow: hidden;
}
video {
    border-radius: var(--border-radius);
    position: relative;
}

#s {
    height: 0;
}
.s_show {
    padding: 8px;
    height: auto !important;
}

#jdt {
    -webkit-appearance: none;
    width: 100%;
    border-radius: 2px;
    background: var(--hover-color);
    margin: 0;
}

#jdt::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: var(--font-color);
    border-radius: 2px;
    height: 16px;
    width: 4px;
}
input {
    vertical-align: middle;
    font-family: var(--main-font);
}
input[type="text"] {
    width: 300px;
}
input[type="text"]:disabled {
    opacity: 0.2;
}
input[type="number"] {
    width: 50px;
}

#t_nt,
#t_t {
    font-family: var(--monospace);
}

#t_start,
#t_end {
    width: 100px;
}

select {
    border: none;
    background-color: transparent;
    font-size: 1em;
}

.pro_p {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    border-radius: var(--border-radius);
    overflow: hidden;
    background: var(--hover-color);
    margin-top: 4px;
}
.pro {
    width: 0%;
    height: 100%;
    transition: var(--transition);
    border-radius: var(--border-radius);
    white-space: nowrap;
}
.pro_running {
    background-color: #9999ff;
}
.pro_ok {
    background-color: #99ff99;
}
.pro_error {
    background-color: #ff9999;
}

.hide_log {
    display: none;
}

textarea {
    margin-top: 4px;
    padding: 8px;
    width: 100%;
    height: 2rem;
    border-radius: var(--border-radius);
    border: none;
    font-size: 1rem;
    line-height: 1.5rem;
    resize: vertical;
    box-shadow: var(--shadow);
}
