:root {
    --alpha: 0.6;
    --bar-bg: rgba(255, 255, 255, var(--alpha));
    --bar-hover-color: #0002;
    --bg: #fff;
    --bg2: #f5f5f5;
    --hover-color: #dfdfdf;
    --m-color1: hsl(224deg 100% 63%);
    --m-color2: hsl(0, 0%, 90%);
    --transition: 0.4s cubic-bezier(0.25, 1, 0.5, 1);
    --border-radius: 8px;
    --blur: blur(10px);
    --shadow: #0003 0 0 4px;
    --height: 40px;
    --color: #000;
    --color2: #555;
    --border: 1px #000 solid;
    --font-size: 1rem;
    --color-size: 150px;
    --color-i-size: 10px;
    --monospace: ;
    --main-font: sans-serif;
    --icon-color: none;
    --bar-size: 60px;
    --bar-icon: 0.7;
    --b-button: 32px;
    --o-padding: 8px;
}

html,
body {
    margin: 0;
    font-family: var(--main-font);
    color: var(--color);
}

.icon {
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
    filter: var(--icon-color);
    user-select: none;
}

#tab_bar {
    margin: 0 auto var(--o-padding) var(--o-padding);
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: var(--bg);
    transition: var(--transition);
}
#tab_bar:hover {
    box-shadow: var(--shadow);
}
#tab_bar a {
    display: block;
    text-decoration: none;
}

#tab_bar a div {
    width: var(--b-button);
    height: var(--b-button);
    transition: var(--transition);
    position: relative;
}
#tab_bar a div:hover {
    background-color: var(--hover-color);
}
#tab_bar a div > .icon {
    width: var(--b-button);
}

kbd {
    display: inline-block;
    padding: 2px 4px;
    border-radius: var(--border-radius);
    background: linear-gradient(315deg, #e6e6e6, #ffffff);
    font-family: var(--monospace);
    border: 1px solid #ddd;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ddd;
}
::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}
::-webkit-scrollbar-track {
    background: #0000;
}
::-webkit-scrollbar-button {
    height: 8px;
    width: 8px;
    background-color: #0000;
}
::-webkit-scrollbar-corner {
    background-color: #0000;
}

/* 用于截屏界面固定 */
.hover_b {
    background-color: var(--hover-color);
}

button {
    outline: none;
    color: var(--color);
    font-family: var(--main-font);
}

input {
    outline: none;
    background-color: #0000;
    color: var(--color);
}

select {
    outline: none;
}

textarea {
    outline: none;
    background-color: #0000;
    color: var(--color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bar-bg: rgba(0, 0, 0, var(--alpha));
        --bar-hover-color: #fff2;
        --bg: #000;
        --bg2: #1f1f1f;
        --hover-color: #333;
        --m-color1: hsl(224deg 100% 38%);
        --m-color2: hsl(0, 0%, 14%);
        --shadow: #fff9 0 0 2px;
        --color: #fff;
        --color2: #aaa;
        --border: 1px #fff solid;
        --icon-color: invert(1);
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #444;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    kbd {
        box-shadow: 0 5px #fff4;
        background: linear-gradient(315deg, #191919, #000);
    }
}
