html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    scroll-behavior: smooth;
}
body {
    overflow: overlay;
    color: var(--color);
}
#find {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    background-color: var(--bg);
    transition: var(--transition);
    box-shadow: var(--shadow);
    padding: 4px;
    border-bottom-left-radius: var(--border-radius);
    z-index: 2;
}
#find_t > span {
    font-size: 14px;
    font-family: var(--monospace);
}
#find button {
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0 0 0 4px;
    border-radius: 4px;
}
#find button > .icon {
    width: 20px;
}
#find input {
    border: none;
    background-color: var(--bar-color);
    backdrop-filter: var(--blur);
    border-radius: 4px;
}
::highlight(search-results) {
    background-color: #f06;
    color: white;
}

#menu {
    width: 10%;
    position: fixed;
    left: 0;
    top: 0;
    height: calc(100vh - 16px - 40px - 16px);
    overflow: scroll;
    list-style: none;
    padding: 16px;
    box-sizing: border-box;
    min-width: 200px;
}
#menu > li {
    cursor: pointer;
    margin-bottom: 8px;
    opacity: 0.5;
    transition: var(--transition);
}

.active {
    font-weight: bold;
    opacity: 1 !important;
}

#setting_main {
    width: calc(100% - 200px);
    margin-left: 200px;
    padding: 0 16px 100px 16px;
    box-sizing: border-box;
}
#setting_item {
    padding: 16px;
    border-radius: var(--border-radius);
    background-color: var(--bg);
    margin-top: 32px;
}

#setting_item h1 {
    font-size: 3rem;
    font-weight: lighter;
}

#setting_item h2 {
    font-size: 1.8rem;
    margin-block-end: 1.2rem;
    position: sticky;
    top: 0;
    background: var(--bg);
    z-index: 1;
}

textarea {
    padding: 8px;
    width: 100%;
    height: 10rem;
    border-radius: var(--border-radius);
    border: none;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: var(--main-font);
    resize: vertical;
    transition: var(--transition);
    box-sizing: border-box;
}
textarea:hover {
    box-shadow: var(--shadow);
}
textarea:focus {
    box-shadow: var(--shadow);
}
input {
    vertical-align: middle;
    font-family: var(--main-font);
}
input[type="text"] {
    border: none;
    border-bottom: 1px solid var(--hover-color);
    transition: var(--transition);
    font-size: 1rem;
    width: 300px;
    font-family: var(--monospace);
}
input[type="text"]:focus {
    border: none;
    border-bottom: var(--border);
}
input[type="text"]:disabled {
    opacity: 0.2;
}
input[type="number"] {
    field-sizing: content;
    border: none;
    border-bottom: 1px solid var(--hover-color);
    font-size: 1rem;
    transition: var(--transition);
    font-family: var(--monospace);
}
input[type="number"]:focus {
    border: none;
    border-bottom: var(--border);
}

button {
    background-color: #0000;
    margin-top: 8px;
    padding: 4px;
    background-color: var(--m-color2);
}

a {
    color: var(--color);
}

select {
    padding: 4px;
    field-sizing: content;
}

range-b {
    height: 18px;
    border-radius: 6px;
}

range-b > div:nth-child(1) {
    background-color: var(--m-color2);
    width: 200px;
    transition: var(--transition);
}
range-b > div:nth-child(1):hover {
    box-shadow: var(--shadow);
}

#range_thumb {
    background-color: var(--m-color1) !important;
}

dialog {
    border-radius: calc(var(--border-radius) + 1em);
    border: none;
}

#tool_order {
    display: flex;
    gap: 24px;
}
#tool_show {
    border-radius: calc(var(--bar-size) / 6);
    box-shadow: var(--shadow);
    height: min-content;
    min-height: 16px;
    min-width: 16px;
}
:is(#tool_show, #tool_hide) {
    position: relative;
}
:is(#tool_show, #tool_hide) > .icon {
    width: 24px;
    height: 24px;
    display: block;
    position: inherit;
    margin: 8px auto;
}
:is(#tool_show, #tool_hide) > div {
    position: relative;
    width: var(--bar-size);
    height: var(--bar-size);
    border-radius: calc(var(--bar-size) / 6);
    transition: var(--transition);
}
:is(#tool_show, #tool_hide) > div:hover {
    background-color: var(--hover-color);
    transition: var(--transition);
}
:is(#tool_show, #tool_hide) > div > .icon {
    width: calc(var(--bar-size) * var(--bar-icon));
    left: calc(var(--bar-size) * (1 - var(--bar-icon)) / 2);
    top: calc(var(--bar-size) * (1 - var(--bar-icon)) / 2);
}

.blur {
    margin-top: 8px;
}
.blur_p {
    display: block;
    width: 200px;
    float: left;
    border-radius: var(--border-radius);
}
.blur_c {
    width: 200px;
    height: 200px;
    background-color: var(--bar-bg);
    border-radius: var(--border-radius);
    backdrop-filter: var(--blur);
    transition: var(--transition);
    box-shadow: var(--shadow);
}

#遮罩颜色 > span,
#选区颜色 > span {
    display: inline-block;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: 100%;
}
#遮罩颜色 > input,
#选区颜色 > input {
    margin: 0 0 0 8px;
}
#遮罩颜色,
#选区颜色 {
    display: flex;
}

.point_color_f {
    margin-top: 8px;
    padding: 2px;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    width: fit-content;
}
#point_color {
    border-radius: 6px;
    overflow: hidden;
}
#point_color_t {
    display: block;
    float: left;
}

input[type="radio"] {
    display: none;
}
div:has(> label > input[type="radio"]) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    margin: 8px 0;
}
label:has(input[type="radio"]) {
    border-radius: 8px;
    padding: 8px;
    transition: outline-color var(--transition), box-shadow var(--transition);
    display: inline-block;
    outline-color: transparent;
}
label:has(input[type="radio"]):hover {
    box-shadow: var(--shadow);
}
label:has(input[type="radio"]:checked) {
    outline: 2px dashed var(--m-color1);
}

summary {
    font-size: 1.17rem;
    font-weight: bold;
    outline: none;
}
details {
    outline: none;
}

comment {
    opacity: 0.6;
    display: block;
    margin-block: 8px;
}
comment[data-inline] {
    display: inline;
}
comment[data-inline]::before {
    content: "(";
}
comment[data-inline]::after {
    content: ")";
}

#主要字体 > input {
    font-family: var(--main-font);
}

:is(.hotkeys, #hotkeys_content > div, #hotkeys_content2) {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px 16px;
}
:is(.hotkeys, #hotkeys_content > div, #hotkeys_content2) > span {
    text-align: right;
}
:is(.hotkeys, #hotkeys_content > div, #hotkeys_content2) > span .icon {
    width: 32px;
    display: block;
    position: initial;
}

#hotkeys {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
#hotkeys > div {
    cursor: pointer;
}

#框选后默认操作 .icon {
    position: inherit;
}

#translate_es > :first-child {
    margin-top: 8px;
    display: flex;
    gap: 8px;
}
#translate_es > :first-child > div {
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: var(--transition);
    display: flex;
    align-items: center;
}
#translate_es > :first-child > div:hover {
    background-color: var(--hover-color);
    box-shadow: var(--shadow);
}
#translate_es > :first-child > div > span {
    min-width: 2rem;
}
#translate_es > :first-child button {
    position: relative;
    width: 24px;
    height: 24px;
    margin: 0;
    background-color: transparent;
}

#translate_es > :first-child button > .icon {
    width: 24px;
}

.add_translator {
    & textarea {
        field-sizing: content;
        height: auto;
        max-height: calc(16px + 6rem * 1.5);
        resize: none;
    }
}

.sort_handle {
    opacity: 0.5;
}

.sort_list button {
    position: relative;
    width: 24px;
    height: 24px;
    margin: 0;
    background-color: transparent;
}
.sort_list button > .icon {
    width: 24px;
}
.sort_list > :first-child > li,
.sort_list > :last-child {
    list-style: none;
    display: flex;
    align-items: center;
}
.sort_list > :last-child {
    margin-left: 24px;
}

#OCR模型列表 > div {
    display: flex;
    align-items: center;
}
#OCR模型列表 > div > button {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0;
}
#OCR模型列表 > div > button > .icon {
    width: 20px;
}

#OCR拖拽放置区 {
    margin-top: 16px;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    transition: var(--transition);
}
.拖拽突出 {
    box-shadow: var(--shadow);
}

#user_data_divs {
    display: none;
}

.user_data_divs {
    display: block !important;
}

#screen_key_tip {
    position: relative;
    width: 400px;
    height: 150px;
    margin: 4px;
    border: dashed 1px var(--color);
}
#screen_key_tip > div {
    position: absolute;
}
#screen_key_tip > div:first-child > kbd {
    min-width: 2em;
    height: 2em;
    border-radius: 0.25em;
}
#screen_key_tip > div:not(:first-child) {
    width: 8px;
    height: 8px;
    border: 1px var(--color) solid;
    border-radius: 4px;
    background-color: var(--bg);
}
#screen_key_tip > div:not(:first-child).tip_select {
    background-color: var(--m-color1);
}

.theme > input {
    width: 10ch;
}

#themes > button {
    width: 16px;
    height: 16px;
}

.save_file_name {
    field-sizing: content;
    width: auto !important;
    min-width: 1em;
}

#seg > label {
    display: flex;
    align-items: center;
}

#about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about > img {
    width: 200px;
}
#about a {
    color: var(--color);
}
#about_main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about_main > * {
    text-align: center;
    margin: 4px;
}
#update_info {
    max-height: 300px;
    overflow: auto;
}
#update_info > div > div {
    display: flex;
    gap: 8px;
    align-items: center;
}
#update_info > div > div > span {
    padding: 4px;
    border-radius: 4px;
    background-color: var(--hover-color);
}
.download_tag {
    cursor: pointer;
    transition: var(--transition);
    background-color: #335efe !important;
    color: var(--bg);
}
.download_tag:hover {
    box-shadow: var(--shadow);
}

#name {
    text-align: center;
    font-size: 3rem;
}
#version {
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    background-color: #0000;
    transition: var(--transition);
    font-size: 2rem;
}
#version:hover {
    background-color: var(--hover-color);
}
#info > div {
    text-align: center;
}
#about > div {
    margin: 8px;
}

@media (prefers-color-scheme: dark) {
    #point_color {
        filter: invert(1);
    }
}

@media (max-width: 900px) {
    #setting_main {
        width: auto;
        margin-left: 180px;
    }
}
