:host {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

hot-keys {
    display: flex;
    align-items: center;
}
#key_input {
    flex: 1;
    height: 25px;
    border: none;
    border-bottom: 1px solid var(--hover-color);
    transition: var(--transition);
    outline: none;
}

#key_input:focus {
    border-bottom: var(--border);
}

#clear {
    display: inline-block;
    background: none;
    box-shadow: none;
    position: relative;
    height: 1.5em;
    width: 1.5em;
    cursor: pointer;
    outline: none;
    border: none;
}
#clear > .icon {
    height: 1.5em;
}

@media (prefers-color-scheme: dark) {
    .选项 > .icon {
        filter: invert(1) brightness(2);
    }
}
