range-b {
    display: block;
}

range-b > div:nth-child(1) {
    border-radius: inherit;
    height: 100%;
}

.in_range {
    display: block;
}

.out_range {
    display: flex;
}

#range {
    width: 100%;
    height: 100%;
    margin: 0;
    display: block;
    -webkit-appearance: none;
    background-size: 75% 100%;
}

#range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 30px;
    width: 20px;
}

#range_thumb {
    position: relative;
    top: -100%;
    height: 100%;
    pointer-events: none;
    background-color: var(--hover-color);
    border-radius: inherit;
}

.in_range > .range_t {
    top: -100%;
    width: 100%;
}
.out_range > .range_t {
    margin-left: 4px;
}
.range_t {
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}
.range_t > p {
    pointer-events: auto;
    font-family: var(--monospace);
    margin: 0;
}

.range_t > p:nth-child(2) {
    pointer-events: none;
}

lock-b {
    display: block;
    position: relative;
}

lock-b > input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
}

.lock-b-lock {
    background-color: var(--hover-color);
}

time-i {
    font-family: var(--monospace);
}
time-i > span:nth-child(1) > span {
    outline: none;
}
time-i > input {
    width: 15px !important;
    border: none !important;
    padding: 0;
}
