body {
    margin: 0;
    overflow: hidden;
}

.main {
    position: absolute;
    overflow: hidden;
}

.text {
    position: relative;
    -webkit-app-region: drag;
}

.text > div {
    position: absolute;
}

.tools {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
}
.tools > * {
    background-color: var(--bg);
    border: none;
    transition: var(--transition);
    border-radius: var(--border-radius);
    display: block;
    margin: 0;
    padding: 0;
    -webkit-app-region: no-drag;
}
