body {
    margin: 0;
    overflow: hidden;
}

.main {
    position: absolute;
    overflow: hidden;
}

.text {
    position: relative;
}

.text > div {
    position: absolute;
}

.rect {
    position: relative;
    box-sizing: border-box;
}

.tools {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
}
.tools > * {
    min-width: 24px;
    height: 24px;
    position: relative;
    background-color: var(--bg);
    border: none;
    transition: var(--transition);
    border-radius: var(--border-radius);
    display: block;
    margin: 0;
    padding: 0;
}

.tools > * > .icon {
    width: 24px;
    height: 24px;
}
