body {
    margin: 0;
}

.main {
    position: absolute;
}

.text {
    position: relative;
}

.text > div {
    position: absolute;
}

.rect {
    position: relative;
    border: 0.5px #000 solid;
    box-sizing: border-box;
}

.tools {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
}
.tools > * {
    min-width: 24px;
    height: 24px;
}
