[Desktop Entry]
Name=eSearch
Comment=识屏 · 搜索
GenericName=eSearch
Exec=e-search %U
Icon=e-search
Type=Application
StartupNotify=true
Categories=Graphics;System;Utility;

